<header class="channel-header clearfix">
  <h1 class="pull-left"><%= channel.slug %></h1>
  <menu class="pull-right">
    <a href="#share" class="btn btn-info" role="button" data-toggle="modal">
      <i class="icon-share-alt icon-white"></i>
      Share
    </a>
  </menu>
</header>

<ul class="messages">
  <% channel.messages.each do |message| %>
    <li data-created-at="<%= message.created_at %>">
      <span class="author"><%= message.author %></span>
      <%= message.body %>
    </li>
  <% end %>
</ul>

<form id="new_message" method="post">
  <textarea name="body" placeholder="Your message here"></textarea>
  <button class="btn btn-large btn-success" type="submit">
    Send
  </button>
</form>

<aside class="modal hide fade" role="dialog" id="share">
  <header class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h2>Share this Space</h2>
  </header>
  <section class="modal-body">
    <h3>Scan this QR Code:</h3>
    <img
      src="http://qrfree.kaywa.com/?l=1&s=8&d=<%= CGI::escape request.url %>">

    <hr>

    <h3>Or just type this code: <%= channel.slug %></h3>
  </section>
</aside>

<form class="modal hide fade form-horizontal" role="dialog" id="author_prompt">
  <header class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h2>Choose a Name</h2>
  </header>
  <section class="modal-body">
    <fieldset class="control-group text-left">
      <label class="control-label" for="author_name">Your name: </label>
      <div class="controls">
        <input
          type="text"
          name="author_name"
          id="author_name"
          placeholder="e.g. Bob or @bob">
        <div class="small">
          <strong>Tip:</strong>
          you can use your Twitter username by prefixing it with @
        </div>
      </div>
    </fieldset>
  </section>
  <footer class="modal-footer">
    <button class="btn btn-success" type="submit">Ok</button>
    <button class="btn" data-dismiss="modal">Cancel</button>
  </footer>
</form>
